
<div class="contenedor">
    <img src="assets/comandos-imagen.png" alt="comandos-voz">

    <div class="tablero">
        @for (celda of celdas; track celda; let index = $index) {

            <app-celdas [value]="celda" (click)="hacerMovimiento(index)"></app-celdas>
        }        
    </div>
    <button class="resetear" (click)="resetearTablero()">Reiniciar Juego</button>

   

    <div class="btn-contenedor">
        <button class="iniciarRV" (click)="iniciarServicio()">Iniciar Reconocimiento de Voz</button>
        <button class="detenerRV" (click)="detenerServicio()">Detener Reconocimiento de Voz</button>
    </div>
      
</div>