.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  flex-direction: column; /* Para que el botón esté debajo del tablero */
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  background-color: #dbade3;
}

.resetear {
  margin: 32px;
  border-radius: 4%;
  padding: 8px;
}

.iniciarRV {
  margin: 12px;
  border-radius: 6%;
  padding: 15px;
  color: #7dcea0;
}

.detenerRV {
  margin: 12px;
  border-radius: 6%;
  padding: 15px;
  color: #f1948a;
}

.btn-contenedor {
  display: inline;
}

img {
  position: auto;
  width: 250px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 20px;
}