.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  flex-direction: column; /* Para que el botón esté debajo del tablero */
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  
}

.resetear {
  margin: 36px;
}
